*{
  box-sizing: border-box;
}
body{
  background-color: #17181F;
  color: #ddd;
}

main{
  max-width: 360px;
  margin: 30px auto;

}
h1{
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 2.5rem;
}
h1 span{
  font-size:0.5rem;
  vertical-align: top;
  display: inline-block;
  margin-top: 5px;
}

form{
  margin-top: 20px;
}
form input{
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
}
form input[type="datetime-local"]{
  color:#777;
}
form div.basic{
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
form button{
  width: 100%;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #ddd;
}

div.transactions{
  margin-top: 10px;
}
div.transaction{
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-top: 1px solid #f2f2f7;
}

div.transaction:hover{
  background-color: black;
}

div.transaction:hover div.right .delete-btn{
  display:block;
  background-color: white;
  color: red;
  border: none;
  border-radius: 5px;
  opacity: 1;
  pointer-events: auto;
}

div.transaction div.right{
  user-select: none;
}
div.transaction div.right .delete-btn{
  position: relative;
  width: 90%;
  height: 60%; 
  left: 40%;
  bottom: 25%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

div.transaction div.right .delete-btn:hover{
  background-color: grey;
}

div.transaction:first-child{
  border-top: 0;
}
div.transaction div.name{
  font-size: 1rem;
}
div.transaction div.description{
  font-size: .7rem;
  color: #888;
}
div.right{
  text-align: right;

}
div.price.green{
  color:#1c1;
}
div.price.red{
  color: red;
}
div.transaction div.datetime{
  font-size: .7rem;
  color: #888;
}
